<%- include('../header.ejs') %>
<div class="main-container">
  <div class="post-job-container">
    <div class="form-containerpg">
      <h1>POST A JOB</h1>
      <form action="/uploadworksubmit" method="post">
        <div class="form-group">
          <label for="exampleFormControlInput1">Job Title:</label>
          <input
            type="text"
            class="form-control border border-danger"
            id="exampleFormControlInput1"
            name="title"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Job Description:</label>
          <textarea
            class="form-control border border-danger"
            id="exampleFormControlTextarea1"
            rows="3"
            name="description"
          ></textarea>
        </div>
        <div class="row g-3" style="margin-top: 16px;">
          <div class="col-auto">
            <label for="exampleFormControlTextarea1">Job Budget:</label>
            <div class="input-group">
              <div class="input-group-text border border-danger">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-currency-rupee"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"
                  />
                </svg>
              </div>
              <input
                type="number"
                class="form-control border border-danger"
                id="autoSizingInputGroup"
                placeholder="Username"
                name="budget"
              />
            </div>
          </div>
          <div class="col">
            <label for="exampleFormControlTextarea1">Job Date:</label>
            <input
              type="date"
              class="form-control border border-danger"
              placeholder="Last name"
              aria-label="Last name"
              name="date"
            />
          </div>
        </div>
        <div class="row g-3 " style="margin-top: 16px;">
          <div class="col-auto">
            <label for="exampleFormControlTextarea1">Job Duration:</label>
            <div class="input-group">
              <div class="input-group-text border border-danger">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-clock-history"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"
                  />
                  <path
                    d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"
                  />
                  <path
                    d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"
                  />
                </svg>
              </div>
              <input
                name="duration"
                type="number"
                class="form-control border border-danger"
                id="autoSizingInputGroup"
                placeholder="Username"
              />
            </div>
          </div>
          <div class="col">
            <label for="exampleFormControlTextarea1">Job Location:</label>
            <select class="form-select border border-danger" aria-label="Default select example" name="location">
              <option selected>Select the Location</option>
              <option value="1">Mumbai</option>
              <option value="2">Banglore</option>
              <option value="3">Delhi</option>
              <option value="4">Hyderabad</option>
              <option value="5">Ahmedabad</option>
              <option value="6">Pune</option>
              <option value="7">Vadodara</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn mt-5 rounded-pill" style="background-color: #ff4500 !important; border-color: #ff4500;">Post your job</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('../footer.ejs') %>
