<!-- Footer -->
<div class="line"></div>
<footer class="text-center text-lg-start bg-body-tertiary text-muted" >

    <!-- Section: Links  -->
    <section class="" style="color: #FFF !important; background-color: #000;">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <img src="public/imgs/KalaKaar.png" alt="KalaKaar" style="height: 100%; width: 100%; margin-left: -6%;">
            </h6>
            <p style="color: #fff;">
              A platform connecting artists with recruiters, showcasing talent, facilitating collaborations, and empowering the creative community to thrive.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="margin-top: 1.5%;">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold mb-4" style="color: #ff4500;">
              Useful<span> links</span>
            </h3>
            <div class="text-reset-parent" style="font-size: large; margin-top: 20%;">
              <p style="color: #FFF;">
                <a href="#!" class="text-reset">Find Talent</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Find Work</a>
              </p>
              <p>
                <a href="#!" class="text-reset" >Why Kalakaar?</a>
              </p>
              <p>
                <a href="#!" class="text-reset">collaborations</a>
              </p>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold mb-4" style="color: #ff4500; margin-top: 6%;">Contact</h3>

            <div class="text-reset-parent" style="margin-top: 14%; font-size: large;">

              <p> New York, NY 10012, US</p>
              <p>
                info@example.com
              </p>
              <p>+ 01 234 567 88</p>
              <p>+ 01 234 567 89</p>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05); background-color: #000; color: #fff;">
      © 
      <a class="text-reset fw-bold" href="Kalakaar.com">Kalakaar. 2024</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
</body>
</html>