<%- include('./header.ejs') %>
<div class="main-container">
    <div class="container">
        <div class="text-content">
            <h1>Empowering Creativity - </h1>
            <h2>Thrive with Kalakaar.</h2>
            <p>Connect with Opportunities, Showcase Your Talent, and Shape Your Future.</p>
            <div class="buttons">
                <a style="text-decoration: none;" href="/signup"><button1>Get Started</button1></a>
            </div>
        </div>
        <div class="image-content">
            <img src="public/imgs/img.jpg">
        </div>
    </div>
    <!--Talent Cards -->
    <div class="container">
        <div class="row" style="width: 100%;">
        <% for (let i = 0; i < 2; i++) { %>
            <% for (let i = 0; i < 4; i++) { %>
                    <div class="card h-100" style="background-color: #FFECEA; height: 138px !important; width: 255px; max-width: 100%; margin: 10px;">
                        <div class="card-body" style="height: 100%;padding: 10px;">
                        <h5 class="card-title" style="text-align: left; margin-top: 5%;">MMA Artist / Coach</h5>
                        <div class="card-info" style="display: flex;    margin-top: 36px;
                        justify-content: space-between; align-items: center;">
                            <p class="card-text" style="color: #ff4500; margin-top: 3%; flex-direction: column;" ><i class="bi bi-star-fill">  </i>Featured</p>
                            <p class="artist-count" style="color: #ff4500; margin-top: 3%; flex-direction: column;">223 Artists Available</p>
                        </div>
                        </div>
                    </div>
                <% } %>
                <% } %>
            </div>

    </div>
    <div class="container-boy">
      <div class="left-container-boy" style="margin-top: 0px;">
        <h1 style="font-weight: bold; color: #000;">This is How <span style="color: #ff4500;">Good Recruiters Find Good Artists.</span></h1>
        <p style="color: #000; font-size: medium;">This represents the current paradigm of innovation.</p>
        <p style="color: #000; font-size: medium;"><i class="bi bi-tools" style=" padding-right: 20px;"></i>Access skilled professionals to address your expertise needs.</p>
        <p style="color: #000; font-size: medium;"><i class="bi bi-person-workspace" style=" padding-right: 20px;"></i>Take charge of your workflow: recruit and compensate your talent.</p>
        <p style="color: #000; font-size: medium;"><i class="bi bi-headset" style=" padding-right: 20px;"></i>Partner with KalaKaar for end-to-end support.</p>
      </div>
      <div class="image-boy">
        <img src="/public/imgs/img3.png" alt="Image boy"> 
      </div>
    </div>

    <!-- Landing Girl -->

    <div class="container-girl" id="parent-girl">
      <div class="left-container">
        <h1 style="font-weight: bold;">Why Buisness turn to Kalakaar?</h1>
        <h3 style="margin-top: 50px;"><i class="bi bi-star-fill">   </i>Proof of quality</h3>
        <p style="color: #000; font-size: medium; padding: 0 40px;">Check any pro's work samples, client reviews, and identity verification</p>
        <h3><i class="bi bi-star-fill">  </i>No cost until you hire</h3>
        <p style="color: #000; font-size: medium; padding: 0 40px;">Interview potential fits for your job, negotiate rates, <br>and only pay for work you approve.</p>
        <h3><i class="bi bi-star-fill">  </i>Safe and secure</h3>
        <p style="color: #000; font-size: medium; padding: 0 40px;">Focus on your work knowing we help protect your data and privacy. We're here with 24/7 support if you need it.</p>
      </div>

      <div class="right-container">
        <h3>We're the world's only talent marketplace</h3>
        <p style="color: #000; font-size: medium; margin-top: 20px;"><i class="bi bi-star-fill" style="color: #ff4500;">  </i>Supplying Artist & Recruiters with <span style="margin-left: 20px;">Kalakaar</span></p>
      </div>

        <div class="connector-image">
          <img src="/public/imgs/imgg3.png" alt="Connector Image">
        </div>

    </div>  

    <!-- Landing Girl -->

    <div class="container">
        <div class="section">
        <h1 class="h1">Who are you?</h1>
        <div class="dropdown" style="top: 160px; right: 115px;">
          <button class="dropdown-btn">Pick an option</button>
          <div class="dropdown-content">
            <a href="#">Artist</a>
            <a href="#">Recruiter</a>
          </div>
        </div>
        </div>
        <div class="section1">
          <ul class="job-list1">
            <li>Musician</li>
            <li>Singer</li>
            <li>Dancer</li>
            <li>Actor</li>
            <li>Comedian</li>
            <li>Magician</li>
            <li>Cinematographer</li>
            <li>Film Editor</li>
            <li>Sound Designer</li>
            <li>Stunt Performer</li>
            <li>Director (Film/Theater)</li>
        </ul>
        </div>
        <div class="section2">
        <ul class="job-list2">
          <li>Hair Stylist</li>
            <li>Photographer</li>
            <li>Videographer</li>
            <li>Choreographer</li>
            <li>DJ</li>
            <li>Voice Actor</li>
            <li>Stunt Coordinator</li>
            <li>Light Designer (Theater/Film)</li>
            <li>Motion Capture Artist</li>
            <li>Costume Designer (Theater)</li>
            <li>Makeup Artist</li>
          </ul>
        </div>
    </div>

<%- include('./footer.ejs') %>