<%- include('./header.ejs') %>
<div class="main-container">
  <div class="container">
    <div class="content-wrapper">
        <div class="text-content">
            <h1 style="text-align: left;">Empowering Creativity -</h1>
            <h2>Thrive with Kalakaar.</h2>
            <p>Connect with Opportunities, Showcase Your Talent, and Shape Your Future.</p>
            <div class="buttons">
              <a style="text-decoration: none;" href="/signup"><button1>Get Started</button1></a>
              <!-- <a href="/signup" class="cta-button">Get Started</a> -->
            </div>
        </div>
        <div class="image-content">
            <img src="/public/imgs/Recording-rafiki.png" alt="Kalakaar Illustration">
        </div>
    </div>
</div>
    <!--Talent Cards -->
<div class="card-container">
    <div class="card-grid">
        <% for (let i = 0; i < 8; i++) { %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">MMA Artist / Coach</h5>
                    <div class="card-info">
                        <p class="card-text featured"><i class="bi bi-star-fill"></i> Featured</p>
                        <p class="artist-count">223 Artists Available</p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>

<!-- Landing boy -->

<div class="boy-main-container">
  <div class="container-boy">
    <div class="left-container-boy">
      <h1>This is How <span>Good Recruiters Find Good Artists.</span></h1>
      <p>This represents the current paradigm of innovation.</p>
      <p><i class="bi bi-tools icon"></i>Access skilled professionals to address your expertise needs.</p>
      <p><i class="bi bi-person-workspace icon"></i>Take charge of your workflow: recruit and compensate your talent.</p>
      <p><i class="bi bi-headset icon"></i>Partner with KalaKaar for end-to-end support.</p>
    </div>
    <div class="image-boy">
      <img src="/public/imgs/Passionate-amico.png" alt="Image boy">
    </div>
  </div>
</div>

<!-- Landing Boy -->

    <!-- Landing Girl -->

    <div class="container-girl" id="parent-girl">
      <div class="left-container" style="color: #ff4500;">
        <h1 style="color: #000;">Why Business turn to Kalakaar?</h1>
        <div class="feature">
          <h3><i class="bi bi-star-fill"></i> Proof of quality</h3>
          <p>Check any pro's work samples, client reviews, and identity verification</p>
        </div>
        <div class="feature">
          <h3><i class="bi bi-star-fill"></i> No cost until you hire</h3>
          <p>Interview potential fits for your job, negotiate rates, and only pay for work you approve.</p>
        </div>
        <div class="feature">
          <h3><i class="bi bi-star-fill"></i> Safe and secure</h3>
          <p>Focus on your work knowing we help protect your data and privacy. We're here with 24/7 support if you need it.</p>
        </div>
      </div>
      <div class="right-container">
        <h3>We're the world's only talent marketplace</h3>
        <p style="color: #FFEEE8;"><i class="bi bi-star-fill"></i> Supplying Artist & Recruiters with <span>Kalakaar</span></p>
      </div>
      <div class="connector-image">
        <img src="/public/imgs/imgg3.png" alt="Connector Image">
      </div>
    </div>

    <!-- Landing Girl -->

    <div class="who-are-you-container">
        <div class="who-are-you-section">
        <h1 class="h1">Who are you?</h1>
        <div class="dropdown">
      <button class="dropdown-btn">Pick an option</button>
      <div class="dropdown-content">
        <a href="#">Artist</a>
        <a href="#">Recruiter</a>
      </div>
    </div>
        </div>
        <div class="who-are-you-section1">
          <ul class="who-are-you-job-list1">
            <li>Musician</li>
            <li>Singer</li>
            <li>Dancer</li>
            <li>Actor</li>
            <li>Comedian</li>
            <li>Magician</li>
            <li>Cinematographer</li>
            <li>Film Editor</li>
            <li>Sound Designer</li>
            <li>Stunt Performer</li>
            <li>Director (Film/Theater)</li>
        </ul>
        </div>
        <div class="who-are-you-section2">
        <ul class="who-are-you-job-list2">
          <li>Hair Stylist</li>
            <li>Photographer</li>
            <li>Videographer</li>
            <li>Choreographer</li>
            <li>DJ</li>
            <li>Voice Actor</li>
            <li>Stunt Coordinator</li>
            <li>Light Designer (Theater/Film)</li>
            <li>Motion Capture Artist</li>
            <li>Costume Designer (Theater)</li>
            <li>Makeup Artist</li>
          </ul>
        </div>
    </div>

<%- include('./footer.ejs') %>