/* style.css */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000 !important;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.main-container{
    background-color: #000;
    color: #ff4500;
    margin: 0 !important;
    padding: 0;
    font-family: Arial ;
  }

  /* Navbar */


  /* .btn-primary {
    background-color: #ff4500;
    border-color: #ff4500;
  }

  .btn-primary:hover, .btn-primary:focus {
    background-color: #ff703c;
    border-color: #ff703c;
  }

  .btn-outline-light:hover, .btn-outline-light:focus {
    color: #fff;
    background-color: #ff4500;
    border-color: #ff4500;
  } */


  /* Navbar */

  /* First Container */

  .container {
    max-width: 1200px;
    margin: 40px 40px;
    padding: 20px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.text-content {
  flex: 1;
}

.animate__fadeInLeft, .animate__fadeInRight, .animate__bounce {
  opacity: 0; /* Initially hide elements */
  visibility: hidden; /* Prevents interaction with the element while it's hidden */
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

h2 {
  font-size: 2rem;
  color: #666;
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  color: #ff703c;
  margin-bottom: 30px;
}

/* .cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff4500;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e63900;
} */

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

button1 {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ff4500;
  border: 1px solid #ff4500;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button1:hover {
  background-color: #ff4500;
  box-shadow: 0px 15px 20px rgba(255, 69, 0, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button1:active {
  transform: translateY(-1px);
}


.image-content {
  flex: 1;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .content-wrapper {
      flex-direction: column;
  }

  .text-content, .image-content {
      width: 100%;
  }

  h1 {
      font-size: 2rem;
  }

  h2 {
      font-size: 1.5rem;
  }

  p {
      font-size: 1rem;
  }
}


    /* First Container */

  /* header search box */
  #searchBox {
    border: 1px solid #ccc; /* Change this to your desired default border color */
}

/* Active border color */
#searchBox:focus {
    border-color: #ff4500; /* Change this to your desired active border color */
}
  /* header search box */

/* job cards */

  .card-container {
    width: 100%;
    max-width: 1200px;
    margin: 80px auto 10px auto;
    padding: 15px 0;
    display: flex;
    justify-content: center;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
  }

  .card {
    background-color: #FFECEA;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
}

.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-info {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.featured, .artist-count {
  color: #ff4500;
}

.featured i {
  margin-right: 5px;
}

@media (max-width: 600px) {
  .card-grid {
      grid-template-columns: 1fr;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .card-grid {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 20px 0 20px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .card-grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1201px) {
  .card-grid {
      grid-template-columns: repeat(4, 1fr);
  }
}

/* job cards */

  .home-container {
    padding: 50px;
    align-items: center;
  }
  .text-content {
    flex: 1;
    padding: 2em;
    color: #ff4500;

  }
  
  h1 {
    font-size: 40px;
    margin-bottom: -0.5em;
  }
  
  h2 {
    font-size: 40px;
    margin-bottom: 0em;
  }
  
  p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 0.5em;
    color: #ff703c;
  }
  

  .image-content {
    flex: 1;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 70px;
  }
  
  .img1 {
    width: 63%;
    height: 90%;
    object-fit: contain;
    border-radius: 40px;
  }

  .img2 {
    width: 25%;
    height: 90%;
    object-fit: contain;
    border-radius: 40px;
  }

  /* section 5 */
  .h1{
    color: #ff4500;
    font-size: 40px;
}


.section{
    flex: 1;
    padding: 65px;
}

.section1{
    flex: 1;
    padding: 50px;
    display: flex;
    font-size: 20px;
}

.section2{
    flex: 1;
    padding: 50px;
    display: flex;
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    width: 150px; /* Adjust the width as needed */
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    color: #ff4500;
    border-radius: 10px;
    font-size: 15px;
}

.dropdown-content {
    width: 150px; /* Adjust the width to match dropdown-btn */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: blue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-btn::after {
    content: '\25BE'; /* Unicode character for dropdown arrow */
    margin-left: 5px;
}

ul li{
    color: white;
}

/* footer */
.text-reset-parent p{
    color: #FFF;
}

.line{
    background-color: #ff4500;
    max-width: 100%;
    height: 1px;
}

.card-info p {
    font-size: 15px;
}

/* job-card */
.btn-card{
    color: #000 !important;
    border-color: #FFECEA !important;
    background-color: #FFEEE8 !important;
    border-radius: 10px !important; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important; 
    width: 30% !important; 
    margin: 10px auto !important; 
    padding: 20px !important; 
    font-family: Arial, Helvetica, sans-serif !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: #FFECEA !important;
  }

  .btn-card:hover{
    background-color: #FFECEA;
    color: #000;
    border: 0px;
  }

  /* .card {
    background-color: #FFECEA;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 300px; 
    margin: 20px auto; 
    padding: 20px; 
    font-family: Arial, Helvetica, sans-serif;
  } */
  
  /* Style the title */
  .title {
    font-size: 1.5rem; /* Set the font size for the title */
    font-weight: bold; /* Make the title bold */
    margin-bottom: 10px; /* Add some space below the title */
    text-align: center;
    /* text-align: center; Center-align the title */
  }
  
  /* Style the subtitle */
  .subtitle {
    font-size: 1rem; /* Set the font size for the subtitle */
    font-style: italic; /* Make the subtitle italic */
    text-align: center; /* Center-align the subtitle */
    color: #888; /* Set a gray color for the subtitle */
  }
  
  /* Style the details section */
  .details {
    margin-top: 15px; /* Add some space above the details */
    display: flex; /* Arrange details items side-by-side */
    flex-wrap: wrap; /* Allow details to wrap onto multiple lines if needed */
    justify-content: space-between; /* Distribute details evenly with space in between */
  }
  
  /* Style the detail items */
  .details p {
    font-weight: 100;
    text-align: left;
    color: #FF4500;
    font-size: 0.8rem; /* Set a smaller font size for details */
    margin-bottom: 5px; /* Add some space between detail items */
  }

  .content-container{
    padding: 20px 43px;
    width: 643px;
  }
  
  .modal-details {
    margin-top: 15px; /* Add some space above the details */
    display: flex; /* Arrange details items side-by-side */
    flex-wrap: wrap; /* Allow details to wrap onto multiple lines if needed */
    justify-content: space-between; /* Distribute details evenly with space in between */
  }
  
  .modal-details p {
    text-align: left;
    font-weight: 100;
    color: #FF4500;
    font-size: 17px; /* Set a smaller font size for details */
    margin-bottom: 5px; /* Add some space between detail items */
  }
  
  .icon {
    margin-right: 5px; /* Adjust spacing for icon */
    /* Add styles for icons (e.g., color, size) */
  }
  
  .text-field {
    margin-top: -12px;
    opacity: 0.5;
    width: 100%; /* Width of the text field */
    height: 100%;
    padding: 10px; /* Padding around the text field */
    font-size: 16px; /* Font size of the text inside the text field */
    border: 1px solid #ccc; /* Border of the text field */
    border-radius: 10px; /* Border radius to make it slightly rounded */
    outline: none; /* Remove the default focus outline */
  }

  .btn-close{
    margin-bottom: -35px;
  }

  /* upload profile */
  .main-container-upload-pic {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.container-upload-pic {
    max-width: 800px;
    margin: 0 auto;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container-upload-pic {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 775px;
    color: #000;
    max-width: 100%; /* Adjust width as needed */
}

textarea {
    height: 214px;
}

.post-upload-pic {
    width: 130%;
    padding: 10px;
    border: 1px solid #ff4500;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: transparent;
}

.donebtn {
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
    background-color: #ff4500;
    color: white;
    padding: 10px 15px;
    border: 2px solid #ff4500; 
    border-color: #ff4500;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.post1-upload-pic {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff4500;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: transparent;
    height: 123px;
}

.file{
  border-color: #FF4500;
}

.section-upload-pic {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.section-upload-pic .post {
    width: 130%;
}

/* .section2-upload-pic {
    margin-left: 30%;
} */

.upload-img {
    display: flex;
    justify-content:space-between;
}

.logo-head .logo {
    padding: 2px 130px;
    width: 100%;
    height: 100%;
}

.span-upload-pic {
    display: flex;
    gap: 241px;
}

@media (max-width: 1200px) {
    .upload-img {
        gap: 200px;
    }

    /* .section2-upload-pic {
        margin-left: 20%;
    } */

    .span-upload-pic {
        gap: 120px;
    }
}

@media (max-width: 992px) {
    .form-container-upload-pic {
        width: 90%;
        padding: 20px;
    }

    .section-upload-pic {
        flex-direction: column;
        align-items: flex-start;
    }

    .section2-upload-pic {
        margin-left: 0;
    }

    .upload-img {
        flex-direction: row;
        gap: 20px;
    }

    .span-upload-pic {
        flex-direction: column;
        gap: 20px;
    }

    .donebtn {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .post-upload-pic {
        width: 100%;
    }

    .section1-upload-pic, .section2-upload-pic {
        width: 100%;
    }

    .upload-img {
        gap: 10px;
    }

    .span-upload-pic {
        gap: 10px;
    }

    .donebtn {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .logo-head .logo {
        padding: 2px 50px;
    }
}

@media (max-width: 480px) {
    .logo-head .logo {
        padding: 2px 20px;
    }

    .upload-img {
      flex-direction: column;
      gap: 20px;
    }

    .donebtn {
        padding: 10px;
        font-size: 0.9em;
    }

    .post1-upload-pic, .post-upload-pic {
        font-size: 0.9em;
    }

    textarea {
        height: 150px;
    }
}

.container-btn-file {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #ff4500;
  color: #fff;
  border-style: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 1;
  /* box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);  */
  transition: all 250ms;
}
.container-btn-file input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.container-btn-file > svg {
  margin-right: 1em;
}
.container-btn-file::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: 0.5em;
  background-color: #ff703c;
  z-index: -1;
  transition: all 350ms;
}
.container-btn-file:hover::before {
  width: 100%;
}

.file-preview {
  margin-top: 10px;
}

.file-preview img {
  max-width: 100%;
  height: auto;
}

.file-preview video {
  max-width: 100%;
  height: auto;
}



  /* profile */
  .profile{
    right: 20px;
}


.image-container {
    flex: 1;
    padding: 25px;
}


.content-container {
    flex: 2;
    padding: 20px;
    margin-left: 50px;
}

h1 {
    font-size: 40px;
    margin-bottom: 0em;
    color: white;
  }

  /* appliedjobsimg */

  .title {
    position: relative;
    display: flex;
    align-items: center;
}

.appliedjobsimg{
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: auto; 
  margin: -10px;
}
  /* appliedjobsimg */

/* search-box */
.d-flex{
  position: relative;
  display: inline-block;
}

.d-flex input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 45px;
  width: 200px; /* Adjust width as needed */
}

.d-flex button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.d-flex button i {
  font-size: 18px;
  color: #888;
  margin-right: 60px;
}
/* search-box */



.section{
  background-color: black;
  display: flex;
  flex-direction: row;
}


.imgg{
  width: 50%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  padding: 9%;
  padding-right: 0px;
  padding-top: 52px;
  position: relative;
}

.imgg1{
  width: 71%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  position: relative;
}


.imgg2{
  width: 27%;
  height: 83%;
  position: absolute;
  top: 10px;
  left: 535px;
  background-repeat: no-repeat; /* Prevent image tiling */
  background-position: center;
}

/* Landing boy */

.boy-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.container-boy {
  display: flex;
  max-width: 1200px;
  height: 382px; /* Set a fixed height */
  margin: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.left-container-boy {
  flex: 1;
  min-width: 300px;
  background-color: #FFEEE8;
  padding: 30px;
  overflow-y: auto; /* Add scrolling if content overflows */
}

.image-boy {
  flex: 0 0 40%; /* Fixed width ratio */
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-boy img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 0px 0px 20px 20px;
}

h1 {
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
  font-size: 24px;
}

h1 span {
  color: #FF4500;
}

p {
  color: #ff703c;
  font-size: 14px;
  margin-bottom: 10px;
}

.icon {
  color: #FF4500;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .container-boy {
    flex-direction: column;
    height: auto;
    margin: 80px 20px 0 20px;
  }
  
  .left-container-boy {
    padding: 20px;
  }

  .image-boy {
    height: 200px;
  }
}
/* Landing boy */

/* landing girl */

.container-girl {
  max-width: 1200px;
  margin: 70px auto;
  padding: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.left-container, .right-container {
  flex: 1;
  min-width: 300px;
  padding: 40px;
  border-radius: 12px;
  color: #000;
}

.left-container {
  background-color: #FFEEE8;
}

.right-container {
  text-align: center;
  background-color: #FFA888;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 30px;
}

.feature {
  margin-bottom: 30px;
}

h3 {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

h3 i {
  margin-right: 10px;
  color: #ff4500;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.connector-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 300px;
  z-index: 2;
}

.connector-image img {
  width: 135%;
  height: auto;
}

@media (max-width: 1200px) {
  .container-girl {
    justify-content: center;
  }

  .left-container, .right-container {
    flex-basis: calc(50% - 10px);
  }

  .connector-image {
    position: static;
    width: 100%;
    max-width: 300px;
    transform: none;
    margin: 20px auto;
    order: 1;
  }
}

@media (max-width: 1180px) {
  .container-girl {
    justify-content: center;
  }

  .left-container, .right-container {
    flex-basis: calc(50% - 10px);
  }

  .connector-image {
    position: static;
    width: 100%;
    max-width: 300px;
    transform: none;
    margin: 20px auto;
    order: 1;
    display: none;
  }
}

@media (max-width: 768px) {
  .container-girl {
    margin: 80px 20px 0 20px;
    padding: 10px;
  }

  .left-container, .right-container {
    flex-basis: 100%;
    padding: 30px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
  }

  .connector-image {
    display: none;
  }
}

@media (max-width: 480px) {
  .left-container, .right-container {
    padding: 20px;
  }

  h1 {
    font-size: 1.2rem;
  }
}
/* landing girl */

/* Who-are-you */

.who-are-you-container{
  justify-content:space-between;
  display: flex;
  margin: 80px 40px 40px 40px;
  padding: 10px;
}

.who-are-you-dropdown {
  /* position: relative; */
  display: inline-block;
}

.who-are-you-dropdown-btn {
  width: 150px; /* Adjust the width as needed */
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  color: #ff4500;
  border-radius: 10px;
  font-size: 15px;
}

.who-are-you-dropdown-content {
  width: 150px; /* Adjust the width to match dropdown-btn */
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

.who-are-you-dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.who-are-you-dropdown-content a:hover {
  color: #ff4500;
}

.who-are-you-dropdown:hover .dropdown-content {
  display: block;
}

.who-are-you-dropdown-btn::after {
  content: '\25BE'; /* Unicode character for dropdown arrow */
  margin-left: 5px;
}

@media (max-width: 768px){
  .who-are-you-container{
    justify-content: center;
    display: flex;
    margin: 80px 40px 40px 40px;
    padding: 10px;
  }
  .who-are-you-section{
    text-align: center;
  }
  .who-are-you-section1{
    display: none;
  }
  .who-are-you-section2{
    display: none;
  }
}

/* Who-are-you */

/* post-job-container */
body, html {
  /* height: 100%; */
  margin: 0;
}

.main-container {
  height: 100%;
}

.post-job-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-containerpg {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin: 20px;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .form-containerpg {
      width: 90%;
      padding: 20px;
  }

  input, select, textarea {
      padding: 8px;
  }
}

@media (max-width: 480px) {
  .form-containerpg {
      width: 100%;
      padding: 15px;
  }

  input, select, textarea {
      padding: 6px;
  }
}

/* post-job-container */

/* home page */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.home-image-container {
  max-width: 100%;
  margin-bottom: 20px;
}

.home-image-container img {
  max-width: 100%;
  height: auto;
}

.home-content-container {
  max-width: 800px;
  padding: 20px;
}

@media (min-width: 768px) {
  .home-container {
    flex-direction:row-reverse;
    text-align: left;
  }

  .home-image-container, .home-content-container {
    flex: 1;
    margin: 10px;
  }

  .home-image-container {
    margin-right: 20px;
  }
}

@media (min-width: 480px){

  /* .home-container img{
    display: none;
  } */

  .home-content-container {
    flex-direction:row-reverse;
    text-align: center;
  }
}

/* Job cards */

.jobs-card-btn-card {
  width: 100%;
  max-width: 300px;
  background-color: #FFECEA;
  color: #ff4500;
  border: none;
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  margin: 10px auto;
  text-align: center;
}

.jobs-card-prow{
  padding: 20px;
}

.jobs-card-btn-card .jobs-card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.jobs-card-btn-card .jobs-card-details {
  display: flex;
  flex-direction: column;
}

.jobs-card-btn-card .jobs-card-prow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.jobs-card-btn-card .jobs-card-prow p {
  margin: 0;
}

@media (max-width: 768px) {
  .jobs-card-btn-card {
    max-width: 90%;
  }
}

/* Job cards */

/* browse work */

.browse-work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browse-work-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.browse-work-card {
  background-color: #ffecea;
  height: 138px !important;
  width: 305px;
  margin: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.browse-work-card:hover {
  transform: translateY(-5px);
}

.browse-work-btn-card {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.browse-work-title {
  font-size: 27px;
  margin: 10px;
}

.browse-work-details {
  padding: 10px;
}

.browse-work-prow {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

@media (max-width: 600px) {
  .browse-work-card {
    width: 90%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .browse-work-card {
    width: 45%;
  }
}

@media (min-width: 901px) {
  .browse-work-card {
    width: 22%;
  }
}


/* browse work */

/* browse jobs */

.browse-jobs-row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.browse-jobs-card {
  background-color: #ffecea;
  height: 138px !important;
  width: 305px;
  margin: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.browse-jobs-card:hover {
  transform: translateY(-5px);
}

.browse-jobs-col-md-4,
.browse-jobs-col-md-8 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.browse-jobs-img {
  border-radius: 5px !important;
  width: 95% !important;
  height: 137px !important;
}

.browse-jobs-card-body {
  padding-top: 25px;
}

.browse-jobs-card-title {
  font-size: 27px;
}

.browse-jobs-card-text {
  font-size: 17px;
}

@media (max-width: 600px) {
  .browse-jobs-card {
    width: 90%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .browse-jobs-card {
    width: 45%;
  }
}

@media (min-width: 901px) {
  .browse-jobs-card {
    width: 22%;
  }
}


/* browse jobs */

/* home page */