<%- include('../header.ejs') %>
<div class="main-container-upload-pic">
    <div class="container-upload-pic">
        <div class="logo-head">
            <h1 style="color: #ff4500; margin-bottom: 5%;">Upload your Profile</h1>
        </div>
        <div class="form-container-upload-pic">
            <form action="/uploadprofile" method="post" enctype="multipart/form-data">
                <!-- <div class="span-upload-pic">
                    <span><h3>Upload Profile:</h3></span>
                    <span><h3>Upload Post:</h3></span>
                </div> -->
                <div class="upload-img">
                    <button class="container-btn-file">
                        Upload Profile
                        <input class="file" name="image" type="file" accept="image/*"/>
                    </button>                      
                    <button class="container-btn-file">
                        Upload Post
                        <input class="file" name="video" type="file" accept="video/*"/>
                    </button>                      
                </div>
                <div class="section-upload-pic">
                    <div class="section1-upload-pic">   
                        <h3>Name:</h3>
                        <input class="post-upload-pic" type="text" id="name" placeholder="Sunny Patel" required>
                        <h3>Location:</h3>
                        <input class="post-upload-pic" type="text" id="location" name="location" placeholder="Mumbai - Vadodara ?" required>
                    </div>
                    <div class="section2-upload-pic">
                        <h3>Profession:</h3>
                        <input class="post-upload-pic" type="text" id="profession" name="profession" placeholder="Singer, Dancer, Poet ??" required>
                        <h3>Hourly Charge:</h3>
                        <input class="post-upload-pic" type="number" name="budget" placeholder="1000-2000 Rs" required>
                    </div>
                </div>
                <h3>Description:</h3>
                <textarea class="post1-upload-pic" name="description" placeholder="Define yourself." required></textarea>
                <h3>Achievements:</h3>
                <textarea class="post1-upload-pic" name="achievements" placeholder="Let us know what you've achieved till date." required></textarea>
                <button class="donebtn" type="submit">Upload</button>
            </form>
        </div>
    </div>
</div>
<%- include('../footer.ejs') %>
